@keyframes docz-fade-in {
    0% { opacity: 0%; transform: scale(0.75); }
    100% { opacity: 100%; transform: scale(1); }
}

@keyframes docz-fade-out {
    0% { opacity: 100%; transform: scale(1); }
    100% { opacity: 0%; transform: scale(0.75); }
}