html.docz > body button {
    align-items: center;
    background-color: var(--docz-color-primary);
    border: none;
    border-radius: var(--docz-border-radius);
    color: var(--docz-color-foreground);
    display: flex;
    font-family: inherit;
    font-size: 1em;
    font-weight: bold;
    justify-content: center;
    padding: calc(var(--docz-padding-element) * 0.5) var(--docz-padding-element);
    transition-duration: 0.1s;
    transition-property: background-color, color;
}

html.docz > body button:disabled {
    background-color: var(--docz-color-disabled);
}

html.docz > body button:not(:disabled):hover {
    background-color: var(--docz-color-foreground);
    color: var(--docz-color-primary);
    cursor: pointer;
}

html.docz > body button svg {
    fill: var(--docz-color-foreground);
    height: auto;
    width: 1em;
}

html.docz > body button:not(:disabled):hover svg {
    fill: var(--docz-color-primary);
}

html.docz > body button.docz-button-round {
    padding: calc(var(--docz-padding-element) * 0.75);
}