html.docz .docz-submitter:disabled {
    display: none;
}



html.docz .docz-chat {
    border-radius: var(--docz-border-radius);
    max-height: 67vh;
    max-width: min(80vw, 80vh);
    overflow-y: scroll;
    padding: 2em;
}

html.docz .docz-chat > * {
    display: block;
}

html.docz .docz-chat > p {
    word-break: break-word;
}


html.docz .docz-button-back {
    left: 0%;
    margin: initial !important;
    position: fixed;
    top: 0%;
    transform: translate(50%, 50%);
}

html.docz .docz-button-settings {
    bottom: 0%;
    left: 0%;
    margin: initial !important;
    position: fixed;
    transform: translate(50%, -50%);
}